

<button class="w-100 add-divrow" onclick="return addModule();" id="btn-add">Add Module</button>
<hr/>
<button class="w-100 add-divrow" onclick="addDivRow()">Thêm divRow</button>
<hr />
<label class="form-check-label">Domain hình:</label>
<input type="text" id="new-img-link" value="" class="form-control" placeholder="Cập nhật nếu không dùng link mặc định" />
<button type="button" onclick="setNewImageDomain()" class="w-100 mt-1 btn btn-success">Cập nhật</button>
<hr />
<button class="w-100 add-divrow export-html" onclick="xuatKetQua()">Xuất kết quả</button>

