@using ExportJsonFromExcel.App_GlobalResources
@{
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
    ViewBag.Header = "Setup layout";


    int hour = ViewBag.hour;
}

<style>
    body {
        overflow-x: hidden;
    }

    .wrapper-content {
        box-sizing: border-box;
        width: auto;
        margin-top: 20px;
    }

    .divRow {
        width: 100px;
        margin: 0 auto;
        background-color: blue;
        border: 2px dotted #000;
        float: none !important;
    }

    .config-wrap {
        position: fixed;
        min-height: 430px;
        border: 1px solid #000;
        box-sizing: border-box;
        background: #ececec;
        box-shadow: 4px 1px 12px 2px #c3c3c3;
        cursor: pointer;
        z-index: 999;
        left: 10px;
        top: 70px;
        transition: 0.3s all linear;
        width: 2px;
        overflow: hidden;
    }

        .config-wrap:hover {
            width: 280px;
        }

    .config-title {
        height: 40px;
        line-height: 40px;
        background: #9e5e5e;
        color: #fff;
        font-size: 20px;
        text-transform: uppercase;
    }

    .config-body {
        padding: 10px 3px;
    }

    .add-divrow {
        border: none;
        background: #75b9e8;
        border-radius: 3px;
        height: 30px;
        color: #fff;
    }

    .add-module {
        border: none;
        background: #75b9e8;
        border-radius: 3px;
        height: 30px;
        color: #fff;
    }

    .remove-divrow {
        border: none;
        background: #d43a6c;
        border-radius: 3px;
        height: 30px;
        color: #fff;
    }

        .add-divrow:focus, .remove-divrow:focus {
            outline: none;
            border: none;
        }

    .btn-add-img {
        float: right;
        background: #b1e6f3;
        color: #0a4230;
        border: 1px solid;
        margin: 5px;
    }

        .btn-add-img:focus {
            outline: unset;
        }

    .export-html {
        background: #33a99e;
    }

    .html-result-m-auto {
        width: 1240px;
        height: auto;
        margin: 50px auto;
    }

    .html-result {
        height: 350px;
        width: 100%;
        resize: none;
        font-family: monospace;
        padding: 5px;
    }

    #href-wrap {
        display: none;
    }

    .bg-config {
        position: absolute;
        height: 100px;
        width: 200px;
        display: none;
    }

        .bg-config input {
            width: 100%;
            height: 100%;
        }

    li.context-menu-item {
        background-image: unset;
    }

    .control-view input {
        font-size: 12px;
    }

    .resizable {
        width: 100px;
        height: 100px;
        border: 1px solid;
        margin-left: 500px;
        background-color: white;
        position: relative;
    }

    .box-link, .box-link-edit {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border: 1px solid #000;
        background: #fff;
        opacity: .6;
    }

    .wrapper-boxlink-edit .box-link-edit:hover {
        cursor: move;
    }

    .draggable {
        width: 100px;
        height: 100px;
        padding: 0.5em;
        float: left;
        background-color: grey;
        background: white;
        position: relative;
        border-radius: 5px;
    }

    #droppable {
        width: 800px;
        height: 200px;
        padding: 0.5em;
        float: left;
        margin: 10px;
        background-color: darkgrey;
        border-radius: 5px;
    }

    #count {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: blue;
    }

    .draggable:hover {
        background-color: wheat;
    }

    .move {
        border: 1px solid #000 !important;
        background: yellow !important;
    }

    .header-menu-fix {
        height: 30px;
        clear: both;
    }

    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, input, textarea, select, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        background: transparent;
        vertical-align: baseline;
        scroll-behavior: smooth !important;
    }

    * {
        margin: 0;
        padding: 0;
    }

    user agent stylesheet
    div {
        display: block;
    }

    body {
        font-family: RobotoRegular;
        margin: 0;
        padding: 0;
        font-size: 12px;
        color: #777;
        width: 100vw;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    body {
        height: 100%;
        background: #fff;
        color: #000;
        line-height: 1;
        -webkit-text-size-adjust: none;
    }

    body, input, button, option, textarea, label, legend, h4, h5, h6, h2 a, h3 a, h4 a, h5 a, h6 a {
        font: 12px RobotoRegular,Arial;
        outline: none;
    }

    #th-menu-fix-mobile {
        float: left;
        width: 100%;
        display: block;
        position: fixed;
        top: -40px;
        background: #fff;
        z-index: 99;
        -moz-transition: all .4s;
        -webkit-transition: all .4s;
        -o-transition: all .4s;
        -ms-transition: all .4s;
        transition: all .4s;
        display: block;
    }

    element.style {
        display: block;
    }

    ul.menu-home {
        background: transparent;
    }

    ul.menu-home {
        background: #fff;
    }

    ul.menu-home {
        padding: 5px 0 10px 10px;
    }

    ul.menu-home {
        display: block;
        width: -webkit-calc(100% - 10px);
        width: -o-calc(100% - 10px);
        width: calc(100% - 10px);
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        padding: 0 0 0 10px;
        background: #d33649;
        border-bottom: none;
        padding-bottom: 15px;
    }

    ul.menu-home {
        display: block;
        width: -webkit-calc(100% - 10px);
        width: -o-calc(100% - 10px);
        width: calc(100% - 10px);
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        padding: 10px 10px;
        background: #fff;
        border-bottom: 1px solid #d2d2d2;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    ol, ul {
        list-style: none;
    }

        ul.menu-home li {
            text-transform: none;
        }

        ul.menu-home li {
            margin-right: 10px;
            text-transform: uppercase;
        }

        ul.list-inline li {
            display: inline-block;
        }

        ul li {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

        ul.menu-home li a.active {
            border-bottom: 3px solid #d33649;
            font-family: RobotoRegular;
        }

        ul.menu-home li a.active {
            font-family: RobotoBold;
        }

        ul.menu-home li a {
            color: #003;
            font-size: 14px;
            text-transform: uppercase;
        }

        ul.menu-home li a {
            color: #fff;
            font-size: 14px;
            position: relative;
        }

        ul.menu-home li a {
            color: #000;
            font-size: 14px;
        }

    a {
        color: #777;
        text-decoration: none;
    }

    a {
        color: #000;
        text-decoration: none;
    }

    .tab-wrapper {
        margin: 50px auto;
        border: solid 1px #acacac;
        border-radius: 5px;
        width: 550px;
        height: 150px;
        margin-left: 100px;
    }

        .tab-wrapper ul {
            overflow: hidden;
            background: #ececec;
            margin: 0px;
            padding: 0px;
            margin-left: 10px;
        }

            .tab-wrapper ul li {
                float: left;
                list-style: none;
                padding: 10px 20px;
                background: rgba(104, 166, 208, 0.88);
                border-radius: 5px 5px 0px 0px;
                margin-right: 5px;
                margin-top: 5px;
                width: 62.03px;
            }

                .tab-wrapper ul li.active {
                    background: #Fff;
                }

                    .tab-wrapper ul li.active a {
                        color: red;
                    }

                .tab-wrapper ul li a {
                    color: #fff;
                    text-transform: uppercase;
                    text-decoration: none;
                }

    .tab-content {
        padding: 20px;
        text-align: center;
    }

    .tab-item {
        display: none;
    }

    .divTab {
        width: 1240px;
        position: relative;
        float: left;
        width: 100%;
    }
</style>


@section scripts{


    <script>
        $.fn.extend({
            jqueryGetBoundingClientRect: function () {
                var elem = $(this);
                return {
                    left: elem.position().left,
                    right: elem.position().left + elem.width(),
                    top: elem.position().top,
                    bottom: elem.position().top + elem.height(),
                    width: elem.width(),
                    height: elem.height()

                };
            }

        });

        var count = 1;

        function addModule() {
            debugger
            var wrapResult = $('#droppable');

            count++;
            var pos = {
                left: 0,
                top: 0,
                width: 0,
                height: 0,


            };


            var numPrev = count - 1;
            var sDrag = $("#box-" + numPrev);

            var sPos = sDrag.jqueryGetBoundingClientRect();
            var left = sDrag.offset().left - sDrag.parent().offset().left;
            var width = sDrag.outerWidth();
            var height = sDrag.outerHeight();
            var top = sDrag.offset().top - sDrag.parent().offset().top;
            pos.left =  left + width;
            pos.height = height;
            pos.width = width;
            pos.top = top  ;


            var boxLink = '';
            boxLink += '<div id="box-' + count + '" class="draggable resize box-link-edit " style=" left: ' + pos.left + ' px; top:' + pos.top + 'px; width: ' + pos.width + 'px; height:' + pos.height + 'px; " > ';
            boxLink += '<div id="count">' + count + '';
                //'left:' + pos.left +
                //'top:' + pos.top + '';
            boxLink += '</div>';
            boxLink += '</div>';


            wrapResult.append(boxLink);

            Add();

        }

        function xuatKetQua() {
            $(document).ready(function (key, item) {


                var sDrag = $(".draggable");
                //var sDrag = $(item);

                var sPos = sDrag.jqueryGetBoundingClientRect();
                var left = sDrag.offset().left - sDrag.parent().offset().left;
                var width = sDrag.outerWidth();
                var height = sDrag.outerHeight();
                var top = sDrag.offset().top - sDrag.parent().offset().top;


                alert(`width=${width} x height=${height} x left=${left}  x top=${top} `);

            });
        }



        var _wrapper = $('.wrapper-content');
        var images = [];
        var productListCount = 0;
        const imageLink = '@ViewBag.ImageLink';
        var bgDivRow, newImgLink;


        $(function () {

            Add();



            $('.config-wrap').draggable({
                drag: function (event, ui) {
                    var wrapper = $(this);



                },
                stop: function (event, ui) {
                    var wrapper = $(this);
                    if (wrapper.position().left <= -200) {
                        wrapper.css('left', '0px');
                    }
                    if (wrapper.position().left + wrapper.width() > $('body').width()) {
                        wrapper.css('left', $('body').width() - wrapper.width() + 'px');
                    }
                }

            });


            $(window).scroll(function () {


            })

            $.contextMenu({
                selector: '.divRow',
                items: {
                    "add-img": {
                        name: 'Thêm hình',
                        icon: "fa-plus"
                    },
                    "remove-img": {
                        name: "Xóa hình",
                        icon: "fa-ban"
                    },
                    "remove-div": {
                        name: "Xóa divRow",
                        icon: "delete"
                    },
                    "set-bg": {
                        name: 'Set divRow bg-color',
                        icon: 'fa-paint-brush'
                    },
                    "sep1":'--------',
                    "add-list-product": {
                        name: 'Thêm ds sản phẩm',
                        icon: 'fa-product-hunt',
                        items: {
                          "slider": {
                                name: 'Slider',
                                icon: 'fa-sliders ',
                            },
                            'see-more': {
                                name: 'Xem thêm',
                                icon: 'fa-eye'
                            }
                        }
                    }

                },
                callback: function (key, options) {
                    switch (key) {
                        case 'add-img':

                            $('#exampleModalCenter').attr('data-target-id', '#' + $(this).attr('id'));
                            $('#exampleModalCenter').modal('show');
                            break;
                        case 'remove-img':
                            var imgs = $(this).children('img');
                            if (imgs.length === 1) {
                                imgs.remove();
                            } else if (imgs.length > 1) {
                                $('.modal-sm-promp').attr('data-target-id', '#' + $(this).attr('id'));
                                $('.modal-sm-promp').modal('show');
                            }
                            break;
                        case 'remove-div':
                            $(this).remove();
                            break;
                        case 'set-bg':

                            var pos = { x: 0, y: 0 };
                            var div = $(this);

                            function getPos(callback) {
                                pos.x = div.width();
                                pos.y = div.position().top + div.height();
                                callback();
                            }

                            getPos(function () {
                                var bg_config = $('#bg-config');
                                bg_config.css('display', 'block');
                                bg_config.animate({ left: pos.x, top: pos.y });
                                bg_config.draggable();
                            });


                            $('#bg-config-color').change(function () {
                                var color = $(this).val();
                                div.css('background-color', color);
                                bgDivRow = color;
                            });

                            break;
                        case 'slider':
                            var num = ++productListCount;
                            var htmlSlider = `@Html.Raw(Resources.HtmlResource.HtmlProductSlider.Replace(System.Environment.NewLine, ""))`;
                            $(this).append(htmlSlider);
                            break;
                         case 'see-more':
                            var num = ++productListCount;
                            var htmlSeeMore = `@Html.Raw(Resources.HtmlResource.HtmlProductSeeMore.Replace(System.Environment.NewLine, ""))`;
                            $(this).append(htmlSeeMore);
                            break;
                    }
                }
            });

            $('#has-tag').change(function () {
                var checkbox = $(this);
                if (checkbox.is(':checked')) {
                    $('#href-wrap').fadeIn('slow');
                } else {
                    $('#href-wrap').fadeOut('slow');
                }
            })

            $('#exampleModalCenter').on('change', '.url', function () {
                if ($(this).val() ==='') {
                    return;
                }
                var html = $('<input type="text" value="" class="form-control url mb-1" />');
                html.insertAfter(this);
            })
        })

        function addImage(btn) {

            $('#exampleModalCenter').attr('data-target-id', '#' + $(btn).attr('id'));
            $('#exampleModalCenter').modal('show');

        }

        function addDivRow() {
            $("#divRow").draggable();
            var divRow = $('<div class="divRow" id="' + randomId() + '"></div>');
            divRow.css('min-height', '40px');
            if (bgDivRow !== undefined) {
                divRow.css('background-color', bgDivRow);
            }
            _wrapper.append(divRow);

        }


        function submitImageUrl(btn) {
            var modal = $(btn).closest('#exampleModalCenter');

            //   var url = imageLink +  modal.find('input#url').val();
            var imgLink = getImageLink();
            var dsUrl = modal.find('input.url');
            var dsImg = [];
            $.each(dsUrl, function (key, item) {
                if ($(item).val() !== '') {
                    dsImg.push(imgLink + $(item).val() + '.jpg');
                }
            });

            if (dsImg.length) {

                var divRow = _wrapper.find(modal.attr('data-target-id'));

                if ($('#has-tag').is(':checked')) {
                    var url = modal.find('input#url-tag').val();

                    var a = $(`@Html.Raw(Resources.HtmlResource.HtmlTag)`);
               //     var a = $('<a class="full left" href="' + url_tag + '" target="_blank"></a>');

                    var img = '';
                    dsImg.forEach(function (src) {
                       // img += '<img class="full left lazyload" src="' + url + '" alt="@@ViewBag.Title" />';
                        img += `@Html.Raw(Resources.HtmlResource.HtmlImg)`
                    });
                    a.html(img);

                   // divRow.append('<a class="full left" href="' + url_tag + '" target="_blank"><img class="full left lazyload" src="' + url + '" alt="@@ViewBag.Title"/></a>');
                    divRow.append(a);
                    modal.find('input#url-tag').val('');
                } else {
                    //divRow.append('<img class="full left lazyload" src="' + url + '" alt="@@ViewBag.Title"/>');
                    var img = '';
                    dsImg.forEach(function (src) {
                      //  img += '<img class="full left lazyload" src="' + url + '" alt="@@ViewBag.Title" />';
                        img += `@Html.Raw(Resources.HtmlResource.HtmlImg)`;
                    });
                    divRow.append(img);
                }

                modal.modal('hide');
                modal.find('input.url').not(':first').remove();
                modal.find('input.url').val('');
            }


        }

        function randomId(length = 5) {
            var result = '';
            var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            var charactersLength = characters.length;
            for (var i = 0; i < length; i++) {
                result += characters.charAt(Math.floor(Math.random() * charactersLength));
            }
            return result;
        }

        function RemoveAnyImg(btn) {
            var modal = $(btn).closest('.modal-sm-promp');
            var divRow = _wrapper.find(modal.attr('data-target-id'));
            var number = modal.find('input#number').val();

            divRow.find('img:nth-child(' + number + ')').remove();
            modal.modal('hide');
            modal.find('input#number').val('');
        }

        function exPortHtml() {
            var textArea = $('<div class="html-result-m-auto"><textarea class="html-result" disabled></textarea></div>');

            var div = $('<div></div>');
            div.html(_wrapper.clone());
            div.find('.wrapper-content').removeClass('wrapper-content').addClass('wrapper');
            div.find('.divRow').removeAttr('id');
            div.find('.divRow').css('min-height', '');
            if (div.find('.divRow').attr('style') === '') {
                div.find('.divRow').removeAttr('style');
            }

            var imgs = div.find('.divRow img');
            if (imgs.length) {
                $.each(imgs, function (key, item) {
                    var img = $(item);
                    var src = img.attr('src');
                    var newSrc = src.replace('@Html.Raw(Resources.HtmlResource.Yes24ImageDomain)', '@Html.Raw(Resources.HtmlResource.Yes24Image)');
                    img.attr('src', newSrc);
                })
            }

            textArea.children('.html-result').text(div.html());

            var resultDiv = $('#th-render-content').find('.html-result-m-auto');
            if (resultDiv.length) {
                resultDiv.remove();
            }

            $('#th-render-content').append(textArea);
        }

        function closeBgConfig() {
            var bg_config = $('#bg-config');
            bg_config.hide();
        }

        function getImageLink() {
            return newImgLink || imageLink;
        }

        function setNewImageDomain() {
            var domain = $('#new-img-link');
            newImgLink = domain.val();
            if (!newImgLink.endsWith('\/')) {
                newImgLink += '/';
            }
            alert("Cập nhật xong.");

        }

        function Add() {
            var IsDuplicatePos = 0;
            var BoxLinkEdit = {
                box: {
                    _box: '',
                    get box() {
                        return $('.ui-draggable-dragging');
                    }
                },
                wrapper: {
                    _wrapper: '',
                    get wrapper() {
                        return $('.wrapper-boxlink-edit');
                    }
                },
                inIt: function () {
                    BoxLinkEdit.box.box.css({
                        "left": "10%",
                        "top": "0%",
                        "width": "10%",
                        "height": "10%"
                    });
                    BoxLinkEdit.box.box.attr({
                        "data-left": "10",
                        "data-top": "10",
                        "data-width": "10",
                        "data-height": "10",

                    });
                    BoxLinkEdit.box.box.find('.ui-resizable-handle').css({
                        "background": "#fff",
                        "border": "1px solid #000"
                    });
                    //update stt for links
                    if (arrayDetail.length > 0) BoxLinkEdit.updateStateCurrent(arrayDetail, 1);
                    else
                        //not exists any links in banner
                        BoxLinkEdit.appendNumber('1');
                },
                appendBoxLinkHistory: function (currentStt, leftLink, topLink, widthLink, heightLink) {
                    var boxLinkHtml = '';
                    boxLinkHtml += '<div id="box-' + currentStt + '" class="draggable resize box-link-edit  "  style="left: ' + leftLink + '% ; top:' + topLink + '%; width:' + widthLink + '%; height:' + heightLink + '%;">';
                    boxLinkHtml += ' <div  id="count">' + currentStt + '';
                    boxLinkHtml += ' </div>';

                    boxLinkHtml += ' </div>';

                    BoxLinkEdit.wrapper.wrapper.append(boxLinkHtml);
                },
                //makeDraggable: function () {
                //    BoxLinkEdit.box.box.draggable({
                //        zIndex: 99999999,
                //        revert: 'invalid',
                //        containment: "parent",

                //        drag: function (event, ui) {

                //            var listHistoryBox = $('.wrapper-boxlink-edit .box-link');
                //            if (listHistoryBox.length > 0) {
                //                $.each(listHistoryBox, function (key, item) {
                //                    var sDrag = $(item);
                //                    var sPos = sDrag.jqueryGetBoundingClientRect();
                //                    var posBox = BoxLinkEdit.box.box.jqueryGetBoundingClientRect();
                //                    var isOverlap = !(posBox.right < sPos.left || posBox.left > sPos.right || posBox.bottom < sPos.top || posBox.top > sPos.bottom);
                //                    IsDuplicatePos = isOverlap ? 1 : 0;
                //                    if (IsDuplicatePos == 1) return false;
                //                });
                //                BoxLinkEdit.box.box.attr('data-duplicate-pos', IsDuplicatePos);
                //            }
                //        }
                //    });
                //},
            }
            //$('#scroll').each(function () {

            //    var duration = Math.abs($(this).scrollLeft() - x) * 2; //2ms trên mỗi pixel
            //    $(this).animate({ scrollLeft: x }, duration);
            //});
            $(".draggable").draggable({

                containment: "parent",



                start: function (event, ui) {
                    $(this).addClass('move');

                },

                stop: function (event, ui) {
                    debugger;
                    $(this).removeClass('move');

                    var listHistoryBox = $('.wrapper-boxlink-edit .box-link-edit').not('.ui-draggable-dragging');
                    if (listHistoryBox.length > 0) {
                        $.each(listHistoryBox, function (key, item) {
                            debugger;
                            //var numPrev = count - 1;
                            //var sDrag = $("#box-" + numPrev);
                            var sDrag = $(item);
                            var sPos = sDrag.jqueryGetBoundingClientRect();
                            var posBox = BoxLinkEdit.box.box.jqueryGetBoundingClientRect();
                            var isOverlap = !(posBox.right < sPos.left || posBox.left > sPos.right || posBox.bottom < sPos.top || posBox.top > sPos.bottom);
                            IsDuplicatePos = isOverlap ? 1 : 0;
                            if (IsDuplicatePos == 1) return false;
                        });
                        BoxLinkEdit.box.box.attr('data-duplicate-pos', IsDuplicatePos);
                    }
                },



            });
            $("#droppable").droppable();
            $(".resize ").resizable({
                handles: "ne, nw, se, sw,n, e, s, w",
                animate: true,
                animateDuration: "fast",
                distance: 50,
                ghost: true,
                handles: "all",
                maxHeight: 300,
                maxWidth: 300,
                minHeight: 150,
                minWidth: 150,
            });

        }
        $('#scroll').scrollLeft(0);
        //var today = new Date();
        //var time = today.getHours() + '-' + today.getMinutes() + '-' + today.getSeconds(); // đo thời gian hiện tại

        //document.getElementById("time").innerHTML = time;

        //function chuyển tab
        $(document).ready(function ()
        {

            function activeTab(obj)
            {  // Hàm active tab nào đó

                $('.tab-wrapper ul li').removeClass('active');  // Xóa class active tất cả các tab


                $(obj).addClass('active');  // Thêm class active vào tab đang click

                var id = $(obj).find('a').attr('href'); // Lấy href của tab để show content tương ứng

                $('.tab-item').hide(100); // Ẩn hết nội dung các tab đang hiển thị


                $(id).show(100); // Hiển thị nội dung của tab hiện tại


            }


            $('.tab li').click(function ()
            {  // Sự kiện click đổi tab
                activeTab(this);
                return false;
            });

            //điều kiện activeTab
            if ($('#hours').val() >= 0 && $('#hours').val() < 3)
            {
                activeTab($('.tab li:first-child'));

            }
            if ($('#hours').val() >= 3 && $('#hours').val() < 6)
            {
                activeTab($('.tab li:first-child').next());

            }
            if ($('#hours').val() >= 6 && $('#hours').val() < 9)
            {
                activeTab($('.tab li').eq(2));

            }
            if ($('#hours').val() >= 9 && $('#hours').val() < 12)
            {
                activeTab($('.tab li').eq(3));

            }
            if ($('#hours').val() >= 12 && $('#hours').val() < 15)
            {
                activeTab($('.tab li').eq(4));

            }
            if ($('#hours').val() >= 15 && $('#hours').val() < 18)
            {
                activeTab($('.tab li').eq(5));

            }
            if ($('#hours').val() >= 18 && $('#hours').val() < 21)
            {
                activeTab($('.tab li').eq(6));

            }
            if ($('#hours').val() >= 21 && $('#hours').val() < 24)
            {
                activeTab($('.tab li').eq(7));

            }


            //activeTab($('.tab li:first-child'));  // Active tab đầu tiên khi trang web được chạy

        });
        

    </script>
}



<div class="config-wrap">
    <div class="config-title w-100 text-center">
        <span>Điều khiển</span>
    </div>
    <div class="config-body" id="content">
        <div class="row">
            <div class="col-lg">
                <a href="javascript:;" class="w-100 add-divrow" onclick="return addModule();">Thêm divRow</a>


            </div>
        </div>


        <div class="row mt-2">
            <div class="col-lg">
                <button class="w-100 add-divrow export-html" onclick="xuatKetQua()">Xuất kết quả</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="wrapper-fluid">
    <div class="row">
        <div class="col-lg text-center">
            <span style="font-size: 30px;
        text-transform: capitalize;
        text-decoration: underline;">
                Giao diện demo
            </span>
            <p id="demo"></p>
        </div>
    </div>
    <div class="w-100 overflow-auto" id="th-render-content">
        <div class="wrapper-content ">

        </div>
    </div>

</div>


@*<button id="kq" onclick="xuatKetQua()">KQ</button>*@

<input type="number" id="hours" value="@hour" />


<ul class="menu-home list-inline" style="display:block;" id="scroll">
    <li>
        <a href="" class="active" id="home">Trang chủ</a>
    </li>
    <li>
        <a href="" id="mypham" class="">YES24 BEAUTY</a>
    </li>
    <li>
        <a href="" id="yes24black" class="">YES24 BLACK</a>
    </li>
    <li>
        <a href="" class="" id="shop-giao-nhanh">Yes24 Quick</a>
    </li>
    <li>
        <a href="" class="" id="khuyenmai">Khuyến mãi</a>
    </li>
    <li>
        <a href="" class="" id="magiamgia">Mã giảm giá</a>
    </li>
    <li>
        <a href="" id="flashsale" class="">Flash Sale</a>
    </li>
    <li>
        <a href="" class="" id="topseller">Bán chạy</a>
    </li>
    <li>
        <a href="" class="" id="tatcathuonghieu">Thương hiệu</a>
    </li>
    <li>
        <a href="" title="WEBTOON">WEBTOON</a>
    </li>
</ul>
<div id="th-menu-fix-mobile"></div>



<div class="divTab">
    <div class="tab-wrapper">
        <ul class="tab">
            <li>
                <a href="#tab-main">0h</a>
            </li>
            <li>
                <a href="#tab1">3h</a>
            </li>
            <li>
                <a href="#tab2">6h</a>
            </li>
            <li>
                <a href="#tab3">9h</a>
            </li>
            <li>
                <a href="#tab4">12h</a>
            </li>
            <li>
                <a href="#tab5">15h</a>
            </li>
            <li>
                <a href="#tab6">18h</a>
            </li>
            <li>
                <a href="#tab7">21h</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-item" id="tab-main">
                Sale 0h - 2h59
            </div>
            <div class="tab-item" id="tab1">
                Sale 3h - 5h59
            </div>
            <div class="tab-item" id="tab2">
                Sale 6h - 8h59
            </div>
            <div class="tab-item" id="tab3">
                Sale 9h - 11h59
            </div>
            <div class="tab-item" id="tab4">
                Sale 12h - 14h59
            </div>
            <div class="tab-item" id="tab5">
                Sale 15h - 17h59
            </div>
            <div class="tab-item" id="tab6">
                Sale 18h - 20h59
            </div>
            <div class="tab-item" id="tab7">
                Sale 21h - 23h59
            </div>
        </div>
    </div>
</div>

<div class="module">
    <div id="droppable" class="ui-widget-header wrapper-boxlink-edit">
        <div id="box-1" class="draggable resize box-link-edit ">
            <div id="count">
                1
            </div>
        </div>

    </div>



</div>



<div class="bg-config" id="bg-config">
    <input type="color" value="#ff0000" id="bg-config-color" />
    <button class="w-100 btn-outline-success" onclick="closeBgConfig()">OK</button>
</div>

@section modal{

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Thêm hình cho divRow</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="url">Tên Hình :</label>
                            <input type="text" value="" class="form-control url mb-1" placeholder="Exp: mkt_f_sale0203_20210218_nh_01" />
                        </div>
                        <div class="form-group">
                            <input type="checkbox" value="" id="has-tag" />
                            <label for="has-tag">Gắn tag</label>
                        </div>
                        <div class="form-group" id="href-wrap">
                            <label for="url-tag">Url :</label>
                            <input type="text" value="" class="form-control" id="url-tag" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="submitImageUrl(this)">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-sm-promp" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xóa hình</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="url">Hình thứ :</label>
                            <input type="number" value="" class="form-control" min="1" id="number" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="RemoveAnyImg(this)">OK</button>
                </div>
            </div>
        </div>
    </div>
}
