<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
	<siteMapNode>
		<siteMapNode  name="Export json" route="export-json" controller="Home" action="ExportJson"/>
		<siteMapNode  name="Product code comma" route="product-code-comma" controller="Home" action="ExportProductCode"/>
		<siteMapNode  name="Export html as table" route="export-html-table" controller="Home" action="ExportHtmlTable"/>
		<siteMapNode  name="Export Link pro tag a" route="export-link-pro-tag-a" controller="Home" action="ExportLinkProTagA"/>
		<siteMapNode  name="Html Beautiful" route="beauty-code" controller="Home" action="Index"/>
		<siteMapNode  name="Create html tab / Create absolute link" route="create-html-tab" controller="Home" action="CreateTab"/>
		<siteMapNode  name="setup layout" route="setup-layout" controller="Home" action="SetupLayout"/>
	</siteMapNode>
</siteMap>
