<appSettings>
	<add key="ExcelDirectory" value="/upload/file/excel"/>
	<add key="JsonDirectory" value="/upload/file/json"/>
	<add key="ImagesDirectory" value="/upload/file/images"/>
	<add key="Domain" value="https://localhost:44320//"/>
	<add key="DomainIP" value="http://45.76.180.109:8089/"/>
	<add key="ConfigDirectory" value="/upload/file/config"/>

	<add key="webpages:Version" value="3.0.0.0"/>
	<add key="webpages:Enabled" value="false"/>
	<add key="ClientValidationEnabled" value="true"/>
	<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
</appSettings>